/* 
    @Author Momo, Jaye, Karen
    08/11/2020
    Team Name: MKJ
    Theme: Peaches!
*/

/* Input things and fafaeye */
input {
    position: relative;
    display: block;
    align-items: center;
    width: 94%;
    padding: 10px 15px;
    margin: 0px 0;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: white;
} 

.inputError {
    background-color: rgba(245, 153, 153, 0.678);
}

#mySubmit {
    width: 30%;
    padding: 10px;
    border: none;
    /* background-color: rgba(233, 233, 233, 0.87); */
    background-color: rgba(131, 165, 228, 0.87);
    border: solid 2px;
    border-color: rgba(131, 165, 228, 0.87);
    color: white;
    float: right;
}

.submitContent {
    padding-bottom: 45px;
}

.forgotpwd {
    font-size: 10px;
}

.fa{
    color:white;
}

.custom-wrap i {
    color: rgb(65, 65, 65);
    position: relative;
    margin-left: 94%;
    cursor: pointer;
}

i {
    position: absolute;
}

/* Login fafaEye */
.fafaEyeLoginPass {
    top: -120px;
}

/* Signup fafaEye */
.fafaEyeSignupPass {
    top: -263px;
}
.fafaEyeSignupPassOnClick {
    top: -418px;
}
.fafaEyeSignupPassOnClickWithConfirm {
    top: -292px;
}
.fafaEyeSignupConfirm {
    top: -224px;
}
.fafaEyeSignupConfirmOnClick {
    top: -255px;
}
.fafaEyeSignupPassOnClickWithEmail {
    top: -297px;
}
.fafaEyeSignupConfirmOnClickWithEmail {
    top: -262px;
}


/* Forgot Password fafaEye */
.fafaEyeForgotPass {
    top: -148px;
}
.fafaEyeForgotPassOnClick {
    top: -302px;
}
.fafaEyeForgotPassOnClickWithConfirm {
    top: -182px;
}
.fafaEyeForgotConfirm {
    top: -110px;
}
.fafaEyeForgotConfirmOnClick {
    top: -142px;
}