/* 
    @Author Momo, Jaye, Karen
    07/16/2020
    Team Name: MKJ
    Theme: Peaches!
*/

/* Background Picture */
body {     
    background-image: url(https://i.pinimg.com/564x/77/93/bb/7793bb8d347640af50da70435ea0befd.jpg);
}

/* Peach Logo in the Header */
.peachLogo {
    /* Lol this peach logo is messed up. Gotta fix it at some point. */
    position: fixed;
    height: 5%; width: 5%;
    transform: translate(-50%, 0%);
}

/* 'Sign up page' */
.signupTitle {
    font-size: 20px;
    text-align: center;
}

/* Header Styling */
.header {  
    position: fixed; 
    height: 5%; width: 100%;  
    padding: 5px;  
    text-align: center;  
    background: #bfdfb1;  
    color: white;  
}

/* Footer Styling */
.footer {  
    position: fixed;  
    left: 0;  bottom: 0;  
    height: 3%; width: 100%;  
    background-color:#bfdfb1;  
    color: rgb(39, 32, 32);  
    text-align: center;
}

/* Body of all the input ex.] Username, Password, Confirm Password, Email */
.grid {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 4%; padding-right: 4%;
}

/* Styles div */
div {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffcac1;
}

/* &check; */
/*
.userIncorrect::after{
    &check;
}
*/

/* We can make these into a bubble on the side when 
    hovering over the box later in the project */
.userIncorrect, .passwordIncorrect, .confirmPasswordIncorrect, .emailIncorrect {
    font-size: 10px;
    color: darkslateblue;
}

div > form > p > label {
    font-size: 15px;
}