/* 
    @Author Momo, Jaye, Karen
    07/16/2020
    Team Name: MKJ
    Theme: Peaches!
*/

/* https://color.a11y.com/ */

/* Background Picture */
body {     
    /* background-image: url(https://i.pinimg.com/564x/77/93/bb/7793bb8d347640af50da70435ea0befd.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.212), rgba(255, 204, 248, 0.1)), url('Pictures/peaches-bg.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%; height: 100vh;
    font-family: Monaco;
}

/* Peach Logo */
.peachLogo {
    height: 150px; width: 150px; 
    padding-top: 2%;
    position: relative;
    top:50%; left:50%;
    transform: translate(-50%, 0%);
}

.logo-name {
    text-align: center;
    font-family: Copperplate;
}

.credit {
    margin: 0 auto;
    padding-top: 50px;
    color: rgba(59, 58, 57, 0.438);
}

.green-bar {
    transform: translate(-8%, 0%);
    width: 120%;
    background-color: rgba(145, 209, 145, 0.568);
}

.cheat-page {
    text-align: center;
}

/* Body of all the input ex.] Username, Password, Confirm Password, Email */
.content {
    margin: 0;
    width: 40%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 10px; padding-left: 5%; padding-right: 5%;
    background-color: #fff6f5ef;

    animation-name: opening;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}

@keyframes opening {
    from {top: -50%;}
    to {top: 50%;}
}

/* Password restriction */
.hidden {
    display: none;
    /* grid-area: text; */
}

.show {
    display: block;
}

/* Text Manipulation */
.signupTitle, .loginTitle {
    border-radius: 10px;
    padding-top: 8%;
    /* background-color: #f5c5cd; */
    color: rgb(65, 65, 65);
    text-align: center;
    margin: 0 auto;
}

.passHint {
    font-size: 15px;
}
#accountStatus {
    font-weight: bold;
}

div > form > p > label {
    font-size: 15px;
}

input {
    position: relative;
    display: block;
    align-items: center;
    width: 94%;
    padding: 10px 15px;
    margin: 0px 0;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: Monaco;
}

#mySubmit {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.87);
    border: solid 2px;
    border-color: rgb(168, 174, 199);
    float: right;
}

.submitContent {
    padding-bottom: 45px;
}

.fa{
    color:white;
}

.custom-wrap i {
    color: rgb(65, 65, 65);
    position: relative;
    margin-left: 94%;
    cursor: pointer;
}

i {
    position: absolute;
    top: -122px;
}

.fafaEyeSignupPass {
    position: absolute;
    top: -205px;
}

.fafaEyeSignupConfirm {
    position: absolute;
    top: -285px;
}

.fafaEyeForgotPass {
    position: absolute;
    top: -150px;
}

.fafaEyeForgotConfirm {
    position: absolute;
    top: -113px;
}

.forgotpwd {
    font-size: 10px;
}

/* Formatting all the restriction for the sign up page */

/* We can make these into a bubble on the side when 
hovering over the box later in the project */
/* Color and format for INCORRECT */
#accountStatus,
.userIncorrect, 
.passIncorrect-1, .passIncorrect-2, .passIncorrect-3, .passIncorrect-4, 
.confirmPassIncorrect, 
.emailIncorrect,
.emailConfirmIncorrect {
    font-size: 14px;
    font-weight: bold;
    color: rgb(212, 88, 105);
}

/* X mark - INCORRECT*/
.userIncorrect::before, 
.passIncorrect-1::before, .passIncorrect-2::before, .passIncorrect-3::before, .passIncorrect-4::before, 
.confirmPassIncorrect::before, 
.emailIncorrect::before, 
.emailConfirmIncorrect::before {
    content: '\2717';
}

/* Color and format for CORRECT */
.userCorrect, 
.passCorrect-1, .passCorrect-2, .passCorrect-3, .passCorrect-4,
.confirmPassCorrect, 
.emailCorrect, 
.emailConfirmCorrect {
    font-size: 14px;
    font-weight: bold;
    color: rgb(76, 139, 92);
}

/* Check mark - CORRECT */
.userCorrect::before, 
.passCorrect-1::before, .passCorrect-2::before, .passCorrect-3::before, .passCorrect-4::before, 
.confirmPassCorrect::before, 
.emailCorrect::before, 
.emailConfirmCorrect::before {
    content: '\2713';
}
