/* 
    @Author Momo, Jaye, Karen
    07/16/2020
    Team Name: MKJ
    Theme: Peaches!
*/

/* Background Picture */
body {     
    background-image: url(https://i.pinimg.com/564x/77/93/bb/7793bb8d347640af50da70435ea0befd.jpg);
    display: grid;
    grid-template-rows: auto 1fr auto / auto 1fr auto;
    place-items: center;
}

/* Peach Logo in the Header
.peachLogo {
    Lol this peach logo is messed up. Gotta fix it at some point.
    position: fixed;
    height: 5%; width: 5%; 
    transform: translate(-50%, 0%);
}
*/

/* 'Sign up page' */
.signupTitle {
    font-size: 20px;
    text-align: center;
}

.passHint {
    font-size: 10px;
}

#accountStatus {
    font-size: 10px;
    font-weight: bold;
    color: rgb(165, 26, 45);
}

/* Header Styling */
.header {  
    /*
    position: fixed; 
    height: 5%; width: 100%;  
    */
    padding: 5%;  
    text-align: center;  
    background: #bfdfb1;  
    color: white;
    grid-column: 1 / 4;
}

.leftSide {
    grid-column: 1 / 2;
}

.rightSide {
    grid-column: 3 / 4;
}

/* Footer Styling */
.footer {  
    /*
    position: fixed;  
    left: 0;  bottom: 0;  
    height: 3%; width: 100%;
    */
    background-color:#bfdfb1;  
    color: rgb(39, 32, 32);  
    text-align: center;
    grid-column: 1 / 4;
}

/* Body of all the input ex.] Username, Password, Confirm Password, Email */
.grid {
    /*
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 4%; padding-right: 4%
    */
    place-items: center;
    /* grid-template-columns: auto 1fr auto; */
    grid-column: 2 / 3;
}

/* Styles div */
div {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffcac1;
}

div > form > p > label {
    font-size: 15px;
}

/* We can make these into a bubble on the side when 
    hovering over the box later in the project */

/* Color and format for INCORRECT */
.userIncorrect, 
.passIncorrect-1, .passIncorrect-2, .passIncorrect-3, .passIncorrect-4, 
.confirmPassIncorrect, 
.emailIncorrect {
    font-size: 10px;
    color: rgb(165, 26, 45);
}

/* X mark - INCORRECT*/
.userIncorrect::after, 
.passIncorrect-1::after, .passIncorrect-2::after, .passIncorrect-3::after, .passIncorrect-4::after, 
.confirmPassIncorrect::after, 
.emailIncorrect::after {
    content: '\2717';
}

/* Color and format for CORRECT */
.userCorrect, 
.passCorrect-1, .passCorrect-2, .passCorrect-3, .passCorrect-4,
.confirmPassCorrect, 
.emailCorrect {
    font-size: 10px;
    color: rgb(128, 197, 145);
    margin: 0 0;
}

/* Check mark - CORRECT */
.userCorrect::after, 
.passCorrect-1::after, .passCorrect-2::after, .passCorrect-3::after, .passCorrect-4::after, 
.confirmPassCorrect::after, 
.emailCorrect::after {
    content: '\2713';
}

